akinator.py
aiodns
aiohttp
async-cse
async-tio
attrs
braceexpand
chardet
git+https://github.com/Kraots/jishaku
git+https://github.com/EQUENOS/disnake
dnspython
python-dateutil
hmtai
humanize
numpy
parsedatetime
Pillow
pkginfo
psutil
pygame
PyGithub
pymongo
PyNaCl
regex
requests
trivia.py
urllib3
wolframalpha
motor
pymongo
mal-api
flake8
asyncdagpi