aiohttp
astunparse
async-timeout
attrs
braceexpand
buttons
chardet
click
discord
git+https://github.com/Rapptz/discord-ext-menus
discord.py
dnspython
flask
humanize
idna
import-expression
itsdangerous
jinja2
jishaku
markupsafe
more-itertools
motor
multidict
parsedatetime
psutil
pymongo
six
werkzeug
wheel
wolframalpha
xmltodict
yarl
