aiodns
aiohttp
async-cse
attrs
braceexpand
buttons
chardet
git+https://github.com/Rapptz/discord-ext-menus
discord.py
discord
dnspython
python-dateutil
hmtai
humanize
jishaku
numpy
parsedatetime
Pillow
pkginfo
psutil
pygame
PyGithub
pymongo
PyNaCl
regex
requests
trivia.py
urllib3
wolframalpha
motor
pymongo